{% extends 'base.html.twig' %}

{% block title %}Recipe index
{% endblock %}

{% block body %}
	<article>
		<h1>Toutte les ressettes</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Numérau</th>
					<th>Non</th>
					<th>Non2</th>
					<th>C comman</th>
					<th>Aktion</th>
				</tr>
			</thead>
			<tbody>
				{% for recipe in recipes %}
					<tr>
						<td>{{ recipe.id }}</td>
						<td>{{ recipe.name }}</td>
						<td>{{ recipe.slug }}</td>
						<td>{{ recipe.description }}</td>
						<td>
							<a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">Montre</a>
							{% if app.user == recipe.user %}
								<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Chanj</a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if app.user %}
			<div class="flex-col">
				<form action="{{ path('app_recipe_new') }}" method="get">
					<button type="submit" class="btn">Faire nouvo</button>
				</form>
			</div>
		{% endif %}
	</article>
{% endblock %}
